<!DOCTYPE html>
<html>
<head>
  <title>TestIdiary</title>
  <%= stylesheet_link_tag 'design' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="diary"><%= yield %></div>
<div class="picture"><%= render "_form" %></div>
</body>
</html>
